a {
  text-decoration: none; }

a:link,
a:visited,
a:hover,
a:active {
  color: #fff; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

.container {
  width: 100%;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.top {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #191919; }
  .top .social {
    display: inline-block;
    width: 170px;
    height: 40px; }
    .top .social a {
      display: inline-block;
      width: 25px;
      height: 40px;
      margin-left: 5px;
      background-image: url("../../img/social-sprite.png");
      background-repeat: no-repeat; }
    .top .social .twitter {
      background-position: -3px -3px; }
    .top .social .facebook {
      background-position: -30px -5px; }
    .top .social .google {
      background-position: -60px -4px; }
    .top .social .dribble {
      background-position: -88px -4px; }
    .top .social .pinterest {
      background-position: -122px -4px; }
  .top .sign-in,
  .top .lang {
    float: right;
    display: inline-block;
    margin-top: 13px;
    margin-right: 5px;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #777; }
  .top .sign-in {
    padding-right: 5px;
    border-right: 2px solid #777; }

header {
  width: 100%;
  height: 800px;
  background: url("../../img/bg.jpg"); }
  header .logo {
    display: inline-block;
    float: left;
    margin-top: 20px;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    font-weight: 600;
    color: #fff; }
  header nav {
    display: inline-block;
    margin-top: 25px;
    margin-left: 125px; }
    header nav .mobile-menu-icon {
      display: none; }
    header nav ul {
      height: 0;
      display: inline-block;
      margin: 0;
      padding: 0; }
      header nav ul li {
        position: relative;
        display: inline-block;
        margin-right: 50px;
        font-family: 'Montserrat-Bold';
        font-size: 14px;
        font-weight: 600;
        color: #fff; }
        header nav ul li:hover {
          padding-bottom: 20px;
          border-bottom: 4px solid #ff4081; }
        header nav ul li a .material-icons {
          position: absolute;
          top: -3px;
          right: -28px; }
  header .nav-icons {
    float: right;
    width: 115px;
    height: 25px;
    margin-top: 22px;
    color: #fff;
    cursor: pointer; }
    header .nav-icons a {
      display: inline-block;
      height: 25px;
      padding-right: 10px;
      border-right: 1px solid #777; }
      header .nav-icons a:last-child {
        border-right: none; }
  header article {
    margin-top: 235px;
    text-align: center; }
    header article .tag {
      display: inline-block;
      font-family: 'Montserrat-Regular';
      font-size: 20px;
      color: #777; }
    header article h1 {
      margin: 15px 0 30px 0;
      font-family: 'Montserrat-Black';
      font-size: 46px;
      text-transform: uppercase;
      color: #fff; }
    header article .button {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      font-family: 'Montserrat-Regular';
      font-size: 20px;
      font-weight: normal;
      border-radius: 25px;
      background-color: #3f51b5; }
  header .info {
    text-align: center; }
    header .info .avatar {
      margin: 80px auto 0 auto;
      width: 60px;
      height: 60px;
      background-image: url("../../img/avatar.png"); }
    header .info .name,
    header .info .date,
    header .info .comments,
    header .info .likes,
    header .info .material-icons {
      color: #777; }
    header .info .name {
      display: block;
      margin-top: 20px;
      font-family: 'Montserrat-Bold';
      font-size: 14px;
      color: #fff; }
    header .info .date {
      display: block;
      margin-top: 15px;
      font-family: 'Montserrat-Regular';
      font-size: 12px; }
    header .info .comments,
    header .info .likes {
      display: inline-block;
      margin-top: 35px;
      font-family: 'Montserrat-Regular';
      font-size: 12px; }
    header .info .material-icons {
      font-size: 14px; }
    header .info .comments {
      margin-right: 30px; }

.menu-blog {
  min-width: 1170px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ddd; }
  .menu-blog span {
    font-family: 'Montserrat-Bold';
    font-size: 16px; }
  .menu-blog a {
    padding: 10px 30px 10px 30px;
    margin-right: 5px;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #000; }
    .menu-blog a:hover {
      padding: 9px 29px 9px 29px;
      border: 1px solid #3f51b5;
      border-radius: 25px;
      color: #3f51b5; }

.main-content {
  float: left;
  width: 825px; }
  .main-content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.video-block {
  width: 820px;
  height: 605px;
  margin: 35px 0 20px 0;
  border: 1px solid #dddddd;
  border-radius: 5px; }
  .video-block .image {
    position: relative;
    width: 820px;
    height: 420px; }
    .video-block .image .play {
      position: absolute;
      top: 185px;
      left: 385px;
      color: #fff;
      font-size: 50px; }
    .video-block .image .sign {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      color: #fff; }
    .video-block .image .comments,
    .video-block .image .likes {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: inline-block;
      margin-top: 35px;
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      color: #fff; }
      .video-block .image .comments .material-icons,
      .video-block .image .likes .material-icons {
        position: absolute;
        bottom: 0;
        right: 15px;
        font-size: 14px; }
    .video-block .image .comments {
      margin-right: 50px; }
  .video-block .description h3 {
    margin-left: 20px;
    font-family: 'Montserrat-Bold';
    font-size: 18px; }
  .video-block .description p {
    margin-left: 20px;
    font-family: 'Open Sans';
    color: #777; }
  .video-block .description .info {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    border-top: 1px solid #dddddd; }
    .video-block .description .info .avatar {
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 5px 0 15px;
      border-radius: 25px; }
    .video-block .description .info .name {
      display: block;
      font-family: 'Montserrat-Regular';
      font-size: 14px;
      color: #000; }
    .video-block .description .info .date {
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      color: #777; }
    .video-block .description .info .dots {
      margin-left: 595px;
      cursor: pointer; }

.horiz-block {
  width: 820px;
  height: 165px;
  margin: 35px 0 20px 0;
  border: 1px solid #dddddd;
  border-radius: 5px; }
  .horiz-block .image {
    float: left;
    position: relative;
    width: 260px;
    height: 165px;
    margin: 0; }
    .horiz-block .image img {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 165px;
      z-index: 0; }
    .horiz-block .image .sign {
      position: absolute;
      top: 140px;
      left: 20px;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      color: #fff; }
    .horiz-block .image .comments,
    .horiz-block .image .likes {
      position: absolute;
      bottom: 10px;
      right: 20px;
      display: inline-block;
      margin-top: 35px;
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      color: #fff; }
      .horiz-block .image .comments .material-icons,
      .horiz-block .image .likes .material-icons {
        position: absolute;
        bottom: 0;
        right: 15px;
        font-size: 14px; }
    .horiz-block .image .comments {
      margin-right: 50px; }
  .horiz-block .description {
    position: relative;
    float: right;
    width: 560px;
    min-height: 100%; }
    .horiz-block .description h3 {
      margin-left: 20px;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      margin: 5px 5px 0 20px; }
    .horiz-block .description p {
      margin-left: 20px;
      font-family: 'Open Sans';
      color: #777;
      height: 22.4px;
      font-size: 16px;
      line-height: 1.4;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .horiz-block .description .info {
      position: absolute;
      top: 55%;
      width: 100%;
      height: 60px;
      padding-top: 10px;
      border-top: 1px solid #dddddd; }
      .horiz-block .description .info .avatar {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 5px 0 15px;
        border-radius: 25px; }
      .horiz-block .description .info .name {
        display: block;
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000; }
      .horiz-block .description .info .date {
        font-family: 'Montserrat-Regular';
        font-size: 12px;
        color: #777; }
      .horiz-block .description .info .dots {
        margin-left: 335px;
        cursor: pointer; }

.vert-block {
  float: left;
  width: 260px;
  height: 420px;
  border: 1px solid #dddddd;
  border-radius: 5px; }
  .vert-block:nth-child(6), .vert-block:nth-child(7) {
    margin-left: 18px; }
  .vert-block .image {
    position: relative;
    width: 100%;
    height: 175px;
    margin: 0; }
    .vert-block .image img {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .vert-block .image .sign {
      position: absolute;
      top: 150px;
      left: 20px;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      color: #fff; }
    .vert-block .image .comments,
    .vert-block .image .likes {
      position: absolute;
      bottom: 10px;
      right: 20px;
      display: inline-block;
      margin-top: 35px;
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      color: #fff; }
      .vert-block .image .comments .material-icons,
      .vert-block .image .likes .material-icons {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 14px; }
    .vert-block .image .comments {
      margin-right: 50px; }
  .vert-block .description {
    width: 100%; }
    .vert-block .description h3 {
      margin-left: 20px;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      padding-right: 5px; }
    .vert-block .description p {
      margin-left: 20px;
      font-family: 'Open Sans';
      color: #777;
      height: 67.2px;
      font-size: 16px;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .vert-block .description .info {
      width: 100%;
      height: 100%;
      padding-top: 10px;
      border-top: 1px solid #dddddd; }
      .vert-block .description .info .avatar {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 5px 0 15px;
        border-radius: 25px; }
      .vert-block .description .info .name {
        display: block;
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000; }
      .vert-block .description .info .date {
        font-family: 'Montserrat-Regular';
        font-size: 12px;
        color: #777; }
      .vert-block .description .info .dots {
        margin-left: 40px;
        cursor: pointer; }

.big-vert-block {
  float: left;
  width: 400px;
  min-height: 540px;
  margin-top: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px; }
  .big-vert-block:nth-child(8) {
    margin-right: 20px; }
  .big-vert-block .image {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0; }
    .big-vert-block .image img {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .big-vert-block .image .sign {
      position: absolute;
      top: 270px;
      left: 20px;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      color: #fff; }
    .big-vert-block .image .comments,
    .big-vert-block .image .likes {
      position: absolute;
      bottom: 10px;
      right: 20px;
      display: inline-block;
      margin-top: 35px;
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      color: #fff; }
      .big-vert-block .image .comments .material-icons,
      .big-vert-block .image .likes .material-icons {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 14px; }
    .big-vert-block .image .comments {
      margin-right: 50px; }
  .big-vert-block .description {
    width: 400px;
    min-height: 140px; }
    .big-vert-block .description h3 {
      margin-left: 20px;
      font-family: 'Montserrat-Bold';
      font-size: 18px; }
    .big-vert-block .description p {
      margin-left: 20px;
      font-family: 'Open Sans';
      color: #777;
      height: 112px;
      font-size: 16px;
      line-height: 1.4;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .big-vert-block .description .info {
      width: 100%;
      min-height: 50px;
      padding-top: 10px;
      border-top: 1px solid #dddddd; }
      .big-vert-block .description .info .avatar {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 5px 0 15px;
        border-radius: 25px; }
      .big-vert-block .description .info .name {
        display: block;
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        color: #000; }
      .big-vert-block .description .info .date {
        font-family: 'Montserrat-Regular';
        font-size: 12px;
        color: #777; }
      .big-vert-block .description .info .dots {
        margin-left: 170px;
        cursor: pointer; }

.next-btn-wrap {
  float: right;
  margin-top: 30px;
  margin-right: 345px; }
  .next-btn-wrap a {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: #303f9f; }
  .next-btn-wrap .next-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    line-height: 20px;
    background-color: #fff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #777;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle; }
    .next-btn-wrap .next-btn i {
      font-size: 22px;
      line-height: 28px; }

.side-content {
  float: right;
  width: 275px;
  margin: 35px 0 0 70px; }
  .side-content .search {
    position: relative; }
    .side-content .search input {
      width: 220px;
      padding-right: 20px;
      border: none; }
      .side-content .search input:focus {
        outline: none; }
    .side-content .search .search-btn {
      position: absolute;
      right: 0;
      bottom: -11px;
      display: inline-block;
      width: 36px;
      height: 36px;
      border: 5px solid rgba(0, 0, 0, 0.1);
      border-radius: 25px; }
      .side-content .search .search-btn i {
        padding: 6px;
        color: #fff;
        border-radius: 25px;
        background-color: #ff4081; }

.categories h3 {
  margin: 30px 0 0 0;
  padding-bottom: 10px;
  color: #3f51b5;
  border-bottom: 1px solid #aec3ff;
  text-transform: uppercase; }

.categories table {
  width: 100%;
  border-collapse: collapse; }
  .categories table tr {
    border-bottom: 1px solid #ebeae9; }
    .categories table tr:last-child {
      border: none; }
    .categories table tr th {
      padding: 15px 0 15px 0;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: normal; }

.categories .left {
  float: left; }

.categories .right {
  float: right;
  font-weight: 600; }

.subscribe h3 {
  color: #3f51b5;
  padding-bottom: 10px;
  border-bottom: 1px solid #aec3ff;
  text-transform: uppercase; }

.subscribe .name {
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-size: 16px; }

.subscribe .email {
  display: block;
  margin: 10px 0 10px 0; }

.subscribe .input-name,
.subscribe .input-email {
  width: 263px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px 0 10px 10px; }

.subscribe .subscribe-btn {
  display: block;
  margin-top: 10px;
  padding: 15px 82px 15px 82px;
  background-color: #3f51b5;
  border-radius: 5px;
  font-family: "Montserrat-Light";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase; }

.subscribe .broken-line {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 130px;
  font-family: 'Open Sans';
  font-size: 16px; }
  .subscribe .broken-line:before, .subscribe .broken-line:after {
    content: "";
    position: absolute;
    top: 10px;
    height: 1px;
    width: 120px;
    background-color: #777; }
  .subscribe .broken-line:before {
    left: 25px; }
  .subscribe .broken-line:after {
    right: 25px; }

.subscribe .social-icons .fa {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 20px 8px 0 0;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  line-height: 35px; }

.subscribe .social-icons .fa-facebook {
  background-color: #3b5999; }

.subscribe .social-icons .fa-twitter {
  background-color: #55acee; }

.subscribe .social-icons .fa-vk {
  background-color: #4c75a3; }

.subscribe .social-icons .fa-pinterest-p {
  background-color: #ff2e56; }

.subscribe .social-icons .fa-tumblr {
  background-color: #34465d; }

.subscribe .social-icons .fa-dribbble {
  background-color: #ea4c89;
  margin-right: 0; }

.post-widget h3 {
  margin-top: 50px; }

.post-widget .r-post {
  display: inline-block;
  margin-right: -5px;
  padding: 15px 23px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  background-color: #3f51b5; }

.post-widget .active {
  display: inline-block;
  padding: 14px 24px;
  color: #3f51b5;
  background-color: #fff;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px; }

.post-widget .side-news-item {
  padding: 20px 0;
  border-bottom: 1px solid #eee; }
  .post-widget .side-news-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .post-widget .side-news-item:last-child {
    border: none; }
  .post-widget .side-news-item img {
    float: left; }
  .post-widget .side-news-item .side-info {
    position: relative;
    float: right;
    width: 165px;
    padding-left: 10px;
    font-family: 'Open Sans'; }
    .post-widget .side-news-item .side-info .date {
      display: inline-block; }
    .post-widget .side-news-item .side-info p {
      display: inline-block;
      font-weight: 800; }
    .post-widget .side-news-item .side-info .comments {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px; }
      .post-widget .side-news-item .side-info .comments i {
        font-size: 14px;
        color: #3f51b5; }

.tags .tag {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 5px 5px 0;
  background-color: #eee;
  color: #000;
  border-radius: 5px; }

.bottom-subscribe {
  min-width: 1170px;
  height: 250px;
  margin-top: 50px;
  background-image: url("../../img/bottom-subscribe.jpg"); }
  .bottom-subscribe .container {
    position: relative; }
    .bottom-subscribe .container h1 {
      position: absolute;
      top: 120px;
      display: inline-block;
      margin: 0 60px 0 0;
      color: #fff;
      font-family: 'Montserrat Black';
      font-size: 46px; }
    .bottom-subscribe .container input {
      position: absolute;
      top: 130px;
      right: 170px;
      display: inline-block;
      margin-right: 30px;
      padding: 10px 25px 10px 25px;
      border: none;
      border-radius: 25px;
      color: #fff;
      background-color: rgba(117, 117, 117, 0.2);
      outline: none; }
    .bottom-subscribe .container .subscribe-btn {
      position: absolute;
      top: 130px;
      right: 0;
      display: inline-block;
      padding: 10px 25px 10px 25px;
      background-color: #3f51b5;
      border-radius: 25px;
      font-family: 'Montserrat-Light';
      font-size: 16px;
      text-transform: uppercase; }

footer {
  min-width: 1170px;
  height: 510px;
  background-color: #212121; }
  footer .pages-widget {
    float: left;
    display: inline-block;
    width: 265px;
    margin-right: 30px; }
    footer .pages-widget .widget-name {
      display: inline-block;
      margin: 50px 0 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #fff;
      text-transform: uppercase; }
    footer .pages-widget li {
      width: 220px;
      height: 15px;
      padding: 15px 20px 15px 20px;
      margin-bottom: 5px;
      border: 1px solid #757575;
      border-radius: 5px;
      color: #cecece;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 600; }
      footer .pages-widget li:last-child {
        margin-bottom: 0; }
      footer .pages-widget li i {
        float: right;
        font-size: 20px; }
  footer .twitter-widget {
    float: left;
    display: inline-block;
    width: 275px; }
    footer .twitter-widget .widget-name {
      display: inline-block;
      margin: 50px 0 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #fff;
      text-transform: uppercase; }
    footer .twitter-widget .social-widget {
      display: inline-block;
      margin: 50px 0 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      margin: 20px 0 10px 0; }
    footer .twitter-widget .social-icons .fa {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 20px 8px 0 0;
      color: #fff;
      border-radius: 25px;
      text-align: center;
      line-height: 30px; }
    footer .twitter-widget .social-icons .fa-facebook {
      background-color: #3b5999; }
    footer .twitter-widget .social-icons .fa-twitter {
      background-color: #55acee; }
    footer .twitter-widget .social-icons .fa-vk {
      background-color: #4c75a3; }
    footer .twitter-widget .social-icons .fa-pinterest-p {
      background-color: #ff2e56; }
    footer .twitter-widget .social-icons .fa-tumblr {
      background-color: #34465d; }
    footer .twitter-widget .social-icons .fa-dribbble {
      background-color: #ea4c89;
      margin-right: 0; }
    footer .twitter-widget .twitter-post {
      width: 270px;
      height: 65px;
      font-family: 'Open Sans';
      font-size: 14px; }
      footer .twitter-widget .twitter-post .fa-twitter {
        float: left;
        padding: 10px;
        color: #55acee; }
      footer .twitter-widget .twitter-post p {
        color: #cecece; }
      footer .twitter-widget .twitter-post .time {
        color: #757575; }
      footer .twitter-widget .twitter-post .reply,
      footer .twitter-widget .twitter-post .retweet,
      footer .twitter-widget .twitter-post .favorite {
        color: #757575;
        text-decoration: underline; }
      footer .twitter-widget .twitter-post .arrow {
        color: #757575;
        font-size: 14px; }
  footer .flickr-widget {
    float: left;
    display: inline-block;
    width: 275px; }
    footer .flickr-widget .widget-name {
      display: inline-block;
      margin: 50px 0 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      display: block; }
  footer .news-letter {
    float: left;
    display: inline-block;
    width: 290px; }
    footer .news-letter .widget-name {
      display: inline-block;
      margin: 50px 0 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      color: #fff;
      text-transform: uppercase; }
    footer .news-letter .name,
    footer .news-letter .email,
    footer .news-letter .message {
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: none;
      border: 1px solid #757575;
      border-radius: 5px;
      background-color: transparent;
      color: #cecece;
      font-family: 'Open Sans';
      font-size: 14px; }
    footer .news-letter .message {
      padding-top: -10px;
      margin-bottom: 0; }
    footer .news-letter .subscribe-btn {
      display: inline-block;
      margin-top: 5px;
      padding: 15px 117px 15px 117px;
      background-color: #303030;
      border-radius: 5px;
      font-family: "Montserrat-Light";
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase; }

.nav-bottom {
  min-width: 1170px;
  height: 80px;
  background-color: #303030; }
  .nav-bottom ul {
    float: left;
    padding-top: 30px; }
    .nav-bottom ul li {
      display: inline-block;
      margin-right: 40px;
      font-family: 'Montserrat-Bold';
      font-size: 12px; }
      .nav-bottom ul li:last-child {
        margin-right: 0; }
  .nav-bottom .bottom-search {
    float: left;
    position: relative;
    display: inline-block;
    margin: 25px 0 0 175px; }
    .nav-bottom .bottom-search input {
      display: inline-block;
      width: 150px;
      padding: 5px 25px 5px 10px;
      border: none;
      border: 1px solid #757575;
      border-radius: 25px;
      color: #cecece;
      background-color: transparent;
      font-family: 'Montserrat-Light';
      font-size: 14px;
      outline: none; }
    .nav-bottom .bottom-search i {
      position: absolute;
      top: 5px;
      right: 7px;
      font-size: 18px;
      color: #757575; }
  .nav-bottom .bottom-lang {
    float: left;
    display: inline-block;
    position: relative;
    width: 65px;
    height: 25px;
    margin: 27px 0 0 150px;
    color: #757575; }
    .nav-bottom .bottom-lang span {
      display: inline-block;
      margin: 6px 0 0 18px;
      font-family: 'Montserrat-Regular';
      font-size: 12px;
      text-transform: uppercase; }
    .nav-bottom .bottom-lang .lang-ico {
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 14px; }
    .nav-bottom .bottom-lang .arrow-down {
      position: absolute;
      top: 1px;
      right: 0; }

@media screen and (max-width: 360px) {
  .top .container {
    width: 360px;
    height: 100%;
    margin: 0;
    background-color: #303f9f; }
    .top .container .lang {
      float: left;
      margin-left: 10px; }
    .top .container .sign-in {
      float: right;
      margin-right: 10px;
      border-right: none; }
    .top .container .social {
      display: none; }
  header {
    height: 70px;
    background: none;
    background-color: #3f51b5; }
    header .container {
      position: relative;
      width: 360px;
      height: 70px; }
      header .container .logo {
        margin-left: 140px; }
      header .container nav {
        position: absolute;
        top: 20px;
        left: 10px;
        margin: 0; }
        header .container nav .mobile-menu-icon {
          display: inline-block; }
        header .container nav ul {
          display: none;
          position: relative;
          width: 210px;
          height: 370px;
          margin-top: 20px;
          margin-left: -10px;
          background-color: #3f51b5;
          z-index: 2; }
          header .container nav ul:active {
            border-top: none; }
          header .container nav ul li {
            display: inline-block;
            margin: 15px 25px 10px 25px; }
            header .container nav ul li:hover {
              padding: 0;
              border-bottom: 0;
              margin-right: 0; }
            header .container nav ul li a {
              font-size: 24px; }
              header .container nav ul li a:hover {
                padding-right: 10px;
                border-right: 5px solid #ff4081; }
              header .container nav ul li a i {
                display: none; }
      header .container article {
        display: none; }
      header .container .info {
        display: none; }
      header .container #my-menu {
        display: inline-block;
        height: 100px; }
      header .container .nav-icons {
        width: 25px;
        margin-right: 15px; }
        header .container .nav-icons a:nth-child(1),
        header .container .nav-icons a:nth-child(2) {
          display: none; } }
